{% extends "hathitrust/base_mysite.html" %}

{% block title %}Success...About{% endblock %}

{% block style_main_left_height %}
height : 4512px;
{% endblock style_main_left_height %}

{% block style_main_middle_height %}
height : 4512px;
{% endblock style_main_middle_height %}

{% block style_main_right_height %}
height : 4512px;
{% endblock style_main_right_height %}

{% block main_right_header %}
<p>&nbsp;UF Libraries MAW HathiTrust</p>
{% endblock main_right_header %}

{% block main_left %}

<h3>{{main_left}}</h3>
{% endblock main_left%}
