<!-- .../maw/marshal1/templates/home.html -->
{% extends 'main_base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.first_name }}!
  <p>Please stay as long as you like, and when you are finished, please
     remember to <a href="{% url 'logout' %}">logout</a>.</p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
<h3>UF Library MAW - Marshaling Application Website</h3>
<p><a href='admin'>MAW Administration</a></p>

<h4>Applications in Development</h4>
<ol>
<li>GetSuggestedTerms API</li>
<li>ArchivesSpace Resets</li>
<li>UFDC BibVids and Sets - Define batches of bib items for marshaling</li>
<li>Cuba Libro Item Management</li>
<li>Elsevier API and Data Updates Management</li>
<li>HathiTrust Packaging and Submittal</li>
<li>Lone Cabbage Reef Oyster Project</li>
<li>OAI-PMH Client Ingests from Manioc and others</li>
<li>METS Batch Abstract Include</li>
<li>XML2RDB Configuration Snowflakes and Processing</li>
<li>RDB2XML Configuration Snowflakes and Procesing for Updates</li>
<li>Taxonomy Snowflakes</li>
<li>Metadata XML Snowflakes</li>
<li>OAI-PMH Clients and Servers</li>
<li>User Administration</li>
</ol>
{% endblock %}
