<!-- .../maw/marshal1/templates/home.html -->
{% extends 'main_base.html' %}
{# MUST ADD load static HERE though body is defined in parent? #}
{% load static %}
<link rel="stylesheet" type="text/css"
    href="{% static 'marshal1/css/style.css' %}"} >
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.first_name }}!
  <p>Please stay as long as you like, and when you are finished, please
     remember to <a href="{% url 'logout' %}">logout</a>.</p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}

<h3>UF Library MAW - Marshaling Application Website</h3>
<p><a href='cuba_libro/home'>Cuba Libro Home</a></p>

<h4>Administration</h3>
<p><a href='admin'>MAW Administration</a></p>
{% endblock %}
