<h4>UF Hathitrust Application</h5>

<a href="/admin/hathitrust">Administer HathiTrust Package Items</a>

{% if latest_item_list %}
<p> A total of {{item_count}} Hathitrust Items are now being managed:<p>
    <ul>
    {% for item in latest_item_list %}
        <li><a href="/hathitrust/{{ item.id }}/">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Hathitrust items are available.</p>
{% endif %}

<h5>Related Links</h5>
<ul>
<li>
<a href="https://www.hathitrust.org/" target="_blank">
  HathiTrust Digital Library</a>
</li><li>
<a href="https://www.hathitrust.org/"  target="_blank">
  Wikipedia HathiTrust</a>
</li><li>
  Links with Details for the UFDC project:
  <ol>
    <li>
      <a href="https://docs.google.com/document/d/1OQ0SKAiOH8Xi0HVVxg4TryBrPUPtdv4qA70d8ghRltU/edit">
      A larger document that gives a general outline of what is needed
      and how it should be organized can be found in a GoogleDoc here. </a>
    </li><li>
  </li></oi>
</li></ul>
