{% extends 'cuba_libro/cuba_libro_base.html' %}

{% block content %}
  <h3>Hola, {{ user.username }}!</h3>
  <h4>Please select database items for your initial view:</h4>
  <ol>
  <li>
      <p><a href='/admin/cuba_libro/item'>All Items </a></p>
  </<li>
  <li>
      <p><a href='/admin/cuba_libro/item/?holding__exact=FUG'>
        Items Held by University of Florida</a></p>
  <li>
      <p><a href='/admin/cuba_libro/item/?agent__exact=UF'>
        Items Claimed by University of Florida</a></p>
  </li>
  </ol>
{% endblock %}
